# Machine Learning Libraries
tensorflow==2.18.0
tensorflow-addons==0.20.0
xgboost==1.6.2
scikit-learn==1.2.0

# Data Manipulation and Processing
pandas==1.5.0
numpy==1.23.0

# Model Serialization
joblib==1.2.0

# Visualization
matplotlib==3.7.0

# Streamlit for Deployment
streamlit==1.24.0

# Optional Dependencies (Ensure Smooth Execution)
protobuf==3.20.3
h5py==3.8.0
pillow==9.4.0

# Google Colab Dependencies
notebook>=6.4.12
ipython==7.34.0
ipywidgets==8.1.0
